.page-header {
  border: none !important;
}
.page-header h1 {
  font-weight: 800;
}

.page-header h1 span {
  font-weight: 300;
  color: #777;
}

.page-header p {
  font-size: 1.5rem;
}

.page-header p span {
  font-weight: 500;
}

.page-header p a {
  border-bottom: 1px dashed;
}

time {
  font-weight: 500;
  font-style: italic;
}

.header-buttons {
  padding-top: 27px;
}

.event-stats-status {
  padding-top: 2px;
  font-size: 1.2rem;
  color: #777;
}

#stats h3 {
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 5rem;
}

#stats dt {
  color: #777;
  text-transform: uppercase;
  font-variant: small-caps;

}

#stats dd {
  font-size: 5rem;
  font-weight: 600;
}

#stats dd img {
  height: 60px;
}

#stats dd span {
  display: block;
  opacity: 0;
  font-weight: normal;
  font-size: 1.1rem;
  color: #aaa;
  transition: 200ms all ease;
}

#stats dl:hover span {
  opacity: 1;
}
#stats th span{
  display: block;
  font-weight: normal;
  font-size: 1rem;
  color: #777;
}

.mini dd {
  font-size: 3rem !important;
}

.mini dt {
  font-size: 1rem;
  display: block !important;
  height: 30px;
}

.mini dd img {
  height: 30px !important;
}

.mini dd span {
  display: none !important;
}

.med dd {
  font-size: 4rem !important;
}

.med dt {
  font-size: 1.3rem;
  display: block !important;
  height: 30px;
}

.med dd img {
  margin-top: -10px;
  height: 30px !important;
}

.med dd span {
  display: none !important;
}

.breakdown {
  margin-top: 30px;
}

.h3-button {
  margin-top: 18px;
}

.h3-button-other {
  margin-top: 39px;
}

.pos {
  color: #14866d;
}

.th {
  color: #777;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: 1px solid #72777d;
  height: 50px;
  padding-top: 7px;
}

.td {
  padding-top: 10px;
  border-bottom: 1px solid #eaecf0;
  height: 45px;
}

.zebra {
  background-color: #f8f9fa;
}

.trow span {
  opacity: 0;
  margin-top: -5px;
  display: block;
  font-size:1rem;
  color: #aaa;
  transition: 300ms opacity ease;
}

.trow:hover span {
  opacity: 1;
}

h3 {
  margin-top: 70px !important;
  font-size: 3rem !important;
  color: #c8ccd1;
  font-weight: 100 !important;
}
