.page-header {
  border: none !important;
}
.page-header h1 {
  font-weight: 800;
  margin-top: 1rem;
}

.page-header h1 a {
  font-weight: 800;
  color: black;
}

.page-header h1 a:hover {
  text-decoration: none;
  color: #337ab7;
}

.page-header h6 {
  text-transform: uppercase;
  font-variant: small-caps;
  margin: 0;
}

.page-header h1 span {
  font-weight: 300;
  color: #777;
}

.page-header p {
  font-size: 1.5rem;
}

.page-header p span {
  font-weight: 500;
}

.page-header p a {
  border-bottom: 1px dashed;
}

time {
  font-weight: 500;
  font-style: italic;
}

.lu {
  margin-top: 10px;
  display: block;
  margin-right: 3px;
}

.lu time {
  font-weight: normal;
  font-style: normal;
}

.header-buttons {
  padding-top: 30px;
}

.event-stats-status {
  padding-top: 2px;
  font-size: 1.2rem;
  color: #777;
}

#stats h3 {
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 5rem;
}

#stats h3 a {
  text-transform: none;
  font-variant: normal;
  border-bottom: 1px solid;
  font-size: 2rem;
}

#stats h3 a:hover {
  text-decoration: none;
  border-bottom: 2px solid;
}

#stats dt {
  color: #777;
  text-transform: uppercase;
  font-variant: small-caps;

}

#stats dd {
  font-size: 5rem;
  font-weight: 600;
}

#stats dd img {
  height: 60px;
  display: none;
}

#stats dd span {
  display: none;
  height: 100px;
  opacity: 0;
  font-weight: normal;
  font-size: 1.1rem;
  color: #aaa;
  transition: 200ms opacity ease;
}

#stats dl:hover span {
  opacity: 1;
}
#stats th span{
  display: block;
  font-weight: normal;
  font-size: 1rem;
  color: #777;
}

#stats .info-icon {
  opacity: 0.3;
  margin-left: 0.5rem;
  display: inline-block;
}

#stats dl:hover .info-icon {
  opacity: 1;
}

#stats .tooltip {
  text-transform: none;
  font-variant: normal;
}

.mini dd {
  font-size: 3rem !important;
}

.mini dt {
  font-size: 1rem;
  display: block !important;
  height: 30px;
}

.mini dd img {
  height: 30px !important;
}

.mini dd span {
  display: none !important;
}

.med dd {
  font-size: 4rem !important;
}

.med dt {
  font-size: 1.3rem;
  display: block !important;
  height: 30px;
}

.med dd img {
  margin-top: -10px;
  height: 30px !important;
}

.breakdown {
  margin-top: 30px;
}

.h3-button {
  margin-top: 18px;
}

.h3-button-other {
  margin-top: 39px;
}

.pos {
  color: #14866d;
}

.th {
  color: #777;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: 1px solid #72777d;
  height: 50px;
  padding-top: 7px;
}

.td {
  padding-top: 10px;
  border-bottom: 1px solid #eaecf0;
  height: 45px;
}

.zebra {
  background-color: #eaf3ff;
}

.sep {
  border-left: 1px solid #72777d;
}

.trow span {
  opacity: 0;
  margin-top: -5px;
  display: block;
  font-size:1rem;
  color: #aaa;
  transition: 300ms opacity ease;
}

.trow:hover span {
  opacity: 1;
}

h3 {
  margin-top: 5rem !important;
  font-size: 3rem !important;
  color: #a2a9b1;
  font-weight: 100 !important;
}

.modal-body ul, .modal-body select {
  list-style: none;
  margin: 0;
  text-indent: 0;
  padding: 0;
  margin-left: 1rem;
}

.modal-body ul label {
  font-weight: normal;
  padding-left: 1rem;
}

/* Edit */
.participant-row {
  margin-top: 1rem;
}

.catcat {
  width: 515px;
  padding-right: 0;
}

label.required {
  font-weight: bold;
}

.form-heading {
  margin-top: 5rem;
  font-size:2rem;
  color: #aaa;
  padding-left: 5px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-variant:
}

.form-heading + p {
  color: red;
  margin-top: -10px;
  padding-left: 5px;
  color: #333;
}

.edit-tabs {
  margin-left: 15px;
}


/* Spinners */
.spinner {
	white-space: nowrap;
}

.spinner .bounce,
.spinner:before,
.spinner:after {
	content: '';
	background-color: #72777d;
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	-webkit-animation: bouncedelay 1600ms infinite ease-in-out both;
	animation: bouncedelay 1600ms infinite ease-in-out both;
	-webkit-animation-delay: -160ms;
	animation-delay: -160ms;
}

.spinner:before {
	margin-right: 4px;
	-webkit-animation-delay: -330ms;
	animation-delay: -330ms;
}

.spinner:after {
	margin-left: 4px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.spinner--small .bounce,
.spinner--small:before,
.spinner--small:after {
	width: 12px;
	height: 12px;
}

.spinner--inverted .bounce,
.spinner--inverted:before,
.spinner--inverted:after {
	background-color: #c8ccd1;
}

@-webkit-keyframes bouncedelay {
	0%,
  50%,
  100% {
		-webkit-transform: scale(0.625);
	}

	20% {
		opacity: 0.87;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bouncedelay {
	0%,
  50%,
  100% {
		-moz-transform: scale(0.625);
	}

	20% {
		opacity: 0.87;
		-moz-transform: scale(1);
	}
}

@keyframes bouncedelay {
	0%,
  50%,
  100% {
		-ms-transform: scale(0.625);
		transform: scale(0.625);
	}

	20% {
		opacity: 0.87;
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

.background--dark {
	background-color: black;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 50%;
}

.spinner--layout {
	display: block;
	max-width: 56px;
	margin: 10px auto 0;
}

.spinner--layout.spinner--small {
	max-width: 46px;
}
